src/main/mule/world-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a6d0ab4-fc67-4737-b44b-f42e92318973" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f53e1b95-cd99-481a-bb0e-ea395e2347ed" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="world-demo-apiFlow" doc:id="ddda8680-14ef-4687-9784-4569a7a275a8" >
		<http:listener doc:name="Listener" doc:id="42c57b5f-7525-4dad-816f-2b9db443a4e4" path="/{region}/{city}" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="f37c6bbe-c355-4c7e-a4dd-90c9cc6eb3ba" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/json
---
{
	region : attributes.uriParams.region,
	city : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
